.clear {
  clear: both;
}

.fa-user {
  font-size: 5em;
  padding: 30px;
}

.home img {
  margin-top: -100px;
  position: fixed;
  z-index: -1;
}

.login {
  margin-top: 100px;
}

.person {
  border: 1px solid #000;
  display: inline-flex;
  margin: 8px;
  width: 400px;
}

.person-details {
  padding: 10px;
}

.search-input {
  display: inline-flex;
  padding: 20px;
}
